* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

:root {
  --rosa-escuro: mediumvioletred;
  --rosa-claro: #f2d0e0;
  --cinza-escuro: darkgrey;
}
