header {
  background-color: red;
  height: 80px;
  padding: 0 2%;
}

header nav {
  align-items: center;
  display: flex;
  height: inherit;
  justify-content: space-between;
}

header .logo {
  color: white;
}

header .logo strong {
  color: black;
}

.search {
  align-items: center;
  display: flex;
}

.search input {
  border: 1px solid brown;
  border-radius: 8px;
  color: #222;
  font-size: 15px;
  height: 30px;
  margin-right: 10px;
  outline: 0;
  padding: 5px;
  width: 300px;
}

.search img {
  width: 25px;
}

@media only screen and (max-width: 470px) {
  header nav {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .search input {
    width: 100%;
  }
}
